# Ignorar archivos y carpetas generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración específicos del IDE
.vscode/
.idea/

# Ignorar archivos de dependencias y build
/node_modules/
/build/
/dist/

# Ignorar archivos de respaldo y temporales
*.bak
*.swp
*.tmp

# Ignorar archivos de credenciales y variables de entorno
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Ignorar archivos de registro y registros de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de caché y compilación
.cache/
*.log
.next/*


# Ignorar archivos generados por herramientas de construcción
webpack-stats.json
