html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
}
#__next{
  height:100%;
}
input{
  background-color: #fff !important;
  color: black !important;
}
.css-qshvj9-MuiFormLabel-root-MuiInputLabel-root{
  color:rgb(20, 167, 220);
}